body {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.container-excusas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1{
   font-size: 40px;
   font-weight: bold;
   color: #0b64ff;
}

.container-excusas p {
    font-size: 30px;
    color: #555;
    margin-top: 20px;
}

h1 {
    color: #333;
}